@font-face {
    font-family: AberMono;
    src: local(AberMono-Bold.otf), local(AberMono-Light.otf),local(AberMono-Regular.otf);
  }

body {
    background-color: black;
    color: white;
    font-family: AberMono-Regular;
}

a {
    color: white;
  }

  .description-content {
    padding: 10px;
    max-width: 500px;
  }

  .quotes-content {
    padding: 10px;
    max-width: 300px;
  }

  .dot {
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .description-container {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 300px;
    font-size: smaller;
    margin-bottom: 50px;
  }

  .quotes-container {
    background-color: black;
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 300px;
    font-size: smaller;
    /* margin: 50px auto; */
    position: absolute;
  }

  .top {
    padding: 5px;
    background: #f1f1f1;
  }

  button {
    margin: 10px;
    border-radius: 10px;
  }

  img {
    width: 100%;
  }

  #image-1 {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 300px;
    height: 329px;
    /* added for draggable element feature */
    position: absolute;
  }
  
  #image-2 {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 200px;
    height: 229px;
    /* added for draggable element feature */
    position: absolute;
  }
  
  #image-3 {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    max-width: 100px;
    height: 129px;
    /* added for draggable element feature */
    position: absolute;
  }
